.nav-item {
    position: relative;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item::after {
    content: '';
    position: absolute;
    background-color: rgb(156, 156, 156);
    height: 2px;
    width: 0;
    left: auto;
    right: auto;
    bottom: -2px;
    transition: all .3s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
}